*.o
*.log
*~
*scratch
x.c
libXp*
geomtest.dat
Makefile
tomroot.h
termout*
bA*
ba.*
ba_*
cs_*
cs.*
compO*
builda*
compare
callsolve_cg*
row_to_col
geomtest
*.c_STATIC
comp_I_CircOrbit01
comp_O_CircOrbit01
compare.c_STATIC
compare_nostatic_WISPRI
compare_nostatic_WISPRO
scaling.of.lambda.txt
test.pro
auto_cv_brent_*
*out
test*
